@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('../img/images/HERO-IMAGE-01.webp') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
  text-align: left;
  color: #fff;

  h1 {
    font-family: vars.$font-title;
    font-weight: 800;
    font-size: 4rem;
    color: #fff;
  }

  h2 {
    font-family: vars.$font-title;
    font-weight: 700;
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 16pt;
  }
}